.col-md-4{
	max-width: 420px;
}
.courseElement{
	background-color: #337ab7;
	border-color: #0044cc;
	border-radius: 2px;
	cursor: pointer;
	display: block;
	margin: 10px 0 0 0;
	max-width: 400px;
	width: 100%;
}
.courseElement:hover{
	background-color: #125acd;
}
.courseName{
	color: #eee;
	display: inline-block;
	font-size: 24px;
	padding: 20px 20px 0 20px;
}
.parallelName{
	color: #eee;
	font-size: 12px;
	padding: 0 20px 20px 20px;
}
.glyphicon-arrow-left{
	margin-right: 5px;
}
.glyphicon-plus{
	float:right;
	margin-left: 10px;
	margin-top: 1px;
}
#newCourse{
	margin: 5px 0 10px 20px;
}